.github
.husky
.idea
_docs
client
node_modules
scripts
.gitignore
.editorconfig
.gitattributes
.golangci.yml
.goreleaser.yaml
.releaserc.js
commitlint.config.js
docker-compose.yaml
Dockerfile
LICENSE
MONGO.md
package.json
package-lock.json
README.md
config.yaml
